@import '~@angular/material/theming';
@import '../../styles/front-end.variables.scss';


@keyframes display-briefly {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.lvl-save-button {
    cursor: default;
    opacity: 0;
    position: absolute;
    transition: all $swift-ease-in-out-duration $mat-fast-out-slow-in-timing-function;
    text-align: center;
    vertical-align: middle;
    pointer-events: none;
    z-index: 12;

    &--invalid {
        background-color: white;
    }

    &--pending {
        background-color: white;

        &__spinner {
            box-sizing: border-box;
            height: 100%;
            padding: 8px;
            width: 100%;
        }
    }

    &--done {
        background-color: white;
        /* Must sit behind the pending button. */
        z-index: 11;
    }

    &__icon {
        font-size: 30px;
        padding: 14px 0;
        width: 100%;
    }
}

@function line-up-with-content-title($device-keylines){
    $toolbar-height: map-get($device-keylines, toolbar-height);
    $space-between-toolbar-and-content: map-get($device-keylines, content-margin-top);
    $middle-of-title: (map-get($device-keylines, content-title-height) / 2);
    $middle-of-button: (56px / 2);

    @return $toolbar-height + $space-between-toolbar-and-content + $middle-of-title - $middle-of-button;
}

:host {
    position: fixed;
    width: 56px;

    @media #{$portrait-screen} {
        top: line-up-with-content-title($portrait);
        right: map-get($portrait, screen-padding);
    }

    @media #{$landscape-screen} {
        top: line-up-with-content-title($landscape);
        right: (64px / 2) - map-get($landscape, screen-padding);
    }

    @media #{$tablet-screen} {
        top: line-up-with-content-title($tablet);
        left: calc(90ch / 2);
    }

    @media screen and (min-width: $desktop-min-width) {
        /* Extra padding is added to compensate for being a big screen. */
        top: line-up-with-content-title($tablet) + map-get($tablet, screen-padding);
        left: calc(#{map-get($tablet, side-nav-width)} + (90ch / 2) + 64px);
    }
}

:host(.ng-dirty:not(.lvl-invalid-caused-by-user):not(.lvl-save-occurring)) .lvl-save-button {
    &--dirty {
        opacity: 1;
        cursor: pointer;
        pointer-events: auto;
        transition: all $swift-ease-in-out-duration $mat-fast-out-slow-in-timing-function;
    }
}

:host(.lvl-invalid-caused-by-user) .lvl-save-button {
    &--invalid {
        opacity: 1;
        transition: all $swift-ease-in-out-duration $mat-fast-out-slow-in-timing-function;
    }
}

:host(.lvl-save-occurring) .lvl-save-button {
    &--pending {
        opacity: 1;
        transition: all $swift-ease-in-out-duration $mat-fast-out-slow-in-timing-function;
    }
}

:host(.lvl-save-completed) .lvl-save-button {
    &--done {
        animation: display-briefly 3s $mat-fast-out-slow-in-timing-function;
    }
}