<button md-fab class="lvl-save-button lvl-save-button--dirty mat-elevation-z6">
    <md-icon class="lvl-save-button__icon">save</md-icon>
</button>

<button md-fab class="lvl-save-button lvl-save-button--invalid mat-elevation-z6">
    <md-icon class="lvl-save-button__icon warning-font">error_outline</md-icon>
</button>

<button md-fab class="lvl-save-button lvl-save-button--pending mat-elevation-z6">
    <md-spinner class="lvl-save-button--pending__spinner" color="accent"></md-spinner>
</button>

<button md-fab class="lvl-save-button lvl-save-button--done mat-elevation-z6">
    <md-icon class="lvl-save-button__icon accent-font">done</md-icon>
</button>