<lvl-content>
  <lvl-content-title>Personality</lvl-content-title>

  <lvl-content-body>
    <img class="mugshot" alt="mugshot" src="http://i.imgur.com/IKJMW8Xh.jpg" />

    <span>
      Hey there, my name is Jonathan Burrows, and I write software for a living. At my day job, I believe that maintaining a calm demeanor  is important. Listening to co-workers with opposing opinions is valuable, and it's important to not get too invested in my own ideas. Making sure everyone feels respected is of higher value than the perfect solution, in my opinion.

      <br /><br />

      Off the clock, I run a DevOps company. As it's a small company, it's important to make sure that my clients feel a personal connection, and I try to keep relaxed relationships with them.

      <br /><br />
      
      Outside of code, I like to explore the nature that is coveted in Vancouver Island. I can usually be found exploring the northern parts of the island, trying to find the next best beach.
      
      <br/><br />
      
      Although relaxed, software is my passion. I can get quite enthusiastic about coding. It's been my hobby for many years, and I enjoy sitting down and banging through a weekend project.
    </span>
  </lvl-content-body>
</lvl-content>