@import '~@angular/material/theming';

@import 'components/layout/layout.component.scss';

@include mat-core();

@mixin core-theme($theme) {
    @include angular-material-theme($theme);
    @include layout-theme($theme);
}

$primary-color: mat-palette($mat-deep-purple);
$accent-color: mat-palette($mat-pink);
$warning-color: mat-palette($mat-red);
$lvl-default-theme: mat-light-theme($primary-color, $accent-color, $warning-color);

body {
    margin: 0;
}