@import '../../../theming.scss';

.content {
    @media #{$portrait-screen} {
        margin-top: map-get($portrait, content-margin-top);
        margin-bottom: map-get($portrait, content-margin-bottom);
    }

    @media #{$landscape-screen} {
        margin-top: map-get($landscape, content-margin-top);
        margin-bottom: map-get($landscape, content-margin-bottom);
    }

    @media #{$tablet-screen} {
        margin-top: map-get($tablet, content-margin-top);
        margin-bottom: map-get($tablet, content-margin-bottom);
    }

    @media screen and (min-width: $desktop-min-width) {
        padding-left: map-get($tablet, avatar-column-width) + map-get($tablet, screen-padding);
    }

    &__title {
        @media #{$portrait-screen} {
            font-size: map-get($portrait, content-title-font-size);
            line-height: map-get($portrait, content-title-height);
            min-height: map-get($portrait, content-title-height);
        }

        @media #{$landscape-screen} {
            font-size: map-get($landscape, content-title-font-size);
            line-height: map-get($landscape, content-title-height);
            min-height: map-get($landscape, content-title-height);
        }

        @media #{$tablet-screen} {
            font-size: map-get($tablet, content-title-font-size);
            line-height: map-get($tablet, content-title-height);
            min-height: map-get($tablet, content-title-height);
        }
    }

    &__text {
        line-height: 24px;

        @media #{$portrait-screen} {
            font-size: map-get($portrait, body-font-size);
        }

        @media #{$landscape-screen} {
            font-size: map-get($landscape, body-font-size);
        }

        @media #{$tablet-screen} {
            font-size: map-get($tablet, body-font-size);
        }
    }

    .mat-input-error {
        text-align: right;
    }
}
