@import '../../styles/_card.component.scss';

@include card-component;

.card__content__forgot-link {
    cursor: pointer;
    font-size: 75%;
    left: 0;
    line-height: 1.2em;
    position: absolute;
    text-decoration: none;
    top: 2.2em;
    z-index: 9;

    &:not(:hover) {
        color: rgba(0, 0, 0, 0.38);
    }
}