<lvl-content>
    <lvl-content-title>Random Words</lvl-content-title>

    <lvl-content-body>
        Will the thankful blanket exist with the electron? When can the lyric face a customary east? An earliest bone multiplies the task. The campaign cheats the excited wood. A player concedes whatever rarest yard. How does a fame ward a qualifying collar?
    </lvl-content-body>
</lvl-content>

<lvl-content>
    <lvl-content-subtitle>Latin Words</lvl-content-subtitle>

    <lvl-content-body>
        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.
    </lvl-content-body>
</lvl-content>

<lvl-content>
    <lvl-content-subtitle>Some Inputs</lvl-content-subtitle>

    <lvl-content-body>
        <md-input-container>
            <md-icon md-prefix lvl-content-avatar>mail</md-icon>
            <input mdInput placeholder="First Input" value="My value" />
        </md-input-container>

        <md-input-container>
            <md-icon md-prefix lvl-content-avatar>search</md-icon>
            <input mdInput placeholder="Second Input" />
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Third Input" />
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Address" />
        </md-input-container>
    </lvl-content-body>
</lvl-content>