@import '~@angular/material/theming';

@mixin layout-component-theme($theme) {
    $primary: map-get($theme, primary);

    .side-nav {
        &__group__item {
            $selected-color: mat-color($primary, 700);

            &__title--selected {
                color: $selected-color;
            }

            &__icon--selected {
                /* Important was used to to override high specifity weight caused by angular. */
                color: $selected-color !important;
            }
        }
    }
}