<lvl-content>
    <form [formGroup]="form" (ngSubmit)="save()">
        <lvl-content-title>Change Password</lvl-content-title>

        <lvl-content-body class="inputs">
            <md-input-container>
                <md-icon md-prefix lvl-content-avatar>email</md-icon>
                <input mdInput placeholder="Old Password" formControlName="oldPassword" type="password" />
                <md-error>{{form.modelErrors.oldPassword}}</md-error>
            </md-input-container>

            <md-input-container>
                <md-icon md-prefix lvl-content-avatar>email</md-icon>
                <input mdInput placeholder="New Password" formControlName="newPassword" type="password" />
                <md-error>{{form.modelErrors.newPassword}}</md-error>
            </md-input-container>

            <lvl-save-button [formGroup]="form" class="save-button"></lvl-save-button>
        </lvl-content-body>
    </form>
</lvl-content>