@import '~@lvl/front-end/theming';

.mat-input-container {
    display: block;
    /* Prevent margins from collapsing. */
    padding: 0.1px;

    @media #{$portrait-screen} {
        width: 100%;
    }

    @media #{$landscape-screen} {
        width: 100%;
    }

    @media #{$tablet-screen} {
        width: 50%;
    }
}
