@import '../../styles/front-end.variables';
@import '../../styles/front-end.theme';

.lvl-content {
    color: rgba(0, 0, 0, 0.87);
    display: block;

    @media #{$portrait-screen} {
        box-sizing: border-box;
        padding-bottom: map-get($portrait, content-margin-bottom);
        padding-left: map-get($portrait, screen-padding);
        padding-right: map-get($portrait, screen-padding);
        padding-top: map-get($portrait, content-margin-top);
        max-width: 100vw;
    }

    @media #{$landscape-screen} {
        padding-left: map-get($landscape, screen-padding);
        padding-right: map-get($landscape, screen-padding);
        padding-bottom: map-get($landscape, content-margin-bottom);
        padding-top: map-get($landscape, content-margin-top);
    }

    @media #{$tablet-screen} {
        padding-left: map-get($tablet, screen-padding);
        padding-right: map-get($tablet, screen-padding);
        padding-bottom: map-get($tablet, content-margin-bottom);
        padding-top: map-get($tablet, content-margin-top);
    }

    @media screen and (min-width: $desktop-min-width) {
        /* Since the menu icon is hidden, align everything with the title. */
        $avatar-width: map-get($tablet, avatar-column-width);
        $screen-padding: map-get($tablet, screen-padding);
        $content-padding: map-get($tablet, content-margin-top);
        $padding-to-align-title: $avatar-width + (2 * $screen-padding);
        padding-top: $screen-padding + $content-padding;
        padding-left: $padding-to-align-title;
        padding-right: $padding-to-align-title;
    }
}

.lvl-content-title {
    display: block;
    font-weight: 400;

    @media #{$portrait-screen} {
        font-size: map-get($portrait, content-title-font-size);
        line-height: map-get($portrait, content-title-height);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    @media #{$landscape-screen} {
        font-size: map-get($landscape, content-title-font-size);
        line-height: map-get($landscape, content-title-height);
    }

    @media #{$tablet-screen} {
        font-size: map-get($tablet, content-title-font-size);
        line-height: map-get($tablet, content-title-height);
    }
}

.lvl-content-subtitle {
    display: block;
    font-weight: 500;

    @media #{$portrait-screen} {
        font-size: map-get($portrait, content-subtitle-font-size);
        line-height: map-get($portrait, content-subtitle-height);
    }

    @media #{$landscape-screen} {
        font-size: map-get($landscape, content-subtitle-font-size);
        line-height: map-get($landscape, content-subtitle-height);
    }

    @media #{$tablet-screen} {
        font-size: map-get($tablet, content-subtitle-font-size);
        line-height: map-get($tablet, content-subtitle-height);
    }
}

.lvl-content-body {
    display: block;
    line-height: 1.7;

    @media #{$portrait-screen} {
        font-size: map-get($portrait, body-font-size);
    }

    @media #{$landscape-screen} {
        font-size: map-get($landscape, body-font-size);
    }

    @media #{$tablet-screen} {
        font-size: map-get($tablet, body-font-size);
    }

    @media screen and (min-width: 90ch){
        max-width: 90ch;
    }
}

.mat-input-container {
    font-size: 16px;
    vertical-align: middle;
}

.lvl-content-avatar {
    color: rgba(0, 0, 0, 0.54);
    display: inline-block;
    vertical-align: middle;

    @media #{$portrait-screen} {
        margin-right: map-get($portrait, screen-padding);
    }

    @media #{$landscape-screen} {
        margin-right: map-get($landscape, screen-padding);
    }

    @media #{$tablet-screen} {
        margin-right: map-get($tablet, screen-padding);
    }
    /* If the md-prefix is applied, then special styles need to be apploed. */
    &.mat-icon {
        font-size: 24px;
        /* Makes sure the underline isnt pushed down. */
        margin-top: -5px;
    }
}