/*  This file is responsible for calling themes within the front end module. */
@import '~@angular/material/theming';

@include mat-core();

@mixin core-theme($theme) {
}

$primary-color: mat-palette($mat-deep-purple);
$accent-color: mat-palette($mat-pink);
$warning-color: mat-palette($mat-red);
$lvl-default-theme: mat-light-theme($primary-color, $accent-color, $warning-color);

body {
    margin: 0;
}
