<md-card class="card mat-elevation-z4">
    <form [formGroup]="form" (ngSubmit)="recoverUsername()">
        <md-card-header style="display:flex">
            <md-card-title class="card__title">Recover Username</md-card-title>
        </md-card-header>

        <md-card-content class="card__content">
            <md-input-container class="card__content__input-container">
                <input mdInput
                       placeholder="Email of account"
                       class="card__content__input"
                       formControlName="email" />
                <md-error class="card__content__error">{{form.modelErrors.email}}</md-error>
            </md-input-container>
        </md-card-content>

        <md-card-actions class="card__actions">
            <button md-raised-button
                    color="accent"
                    class="card__actions__button card__actions--recover-username"
                    [class.card__actions__button--hidden]="emailSent">
                RECOVER
            </button>

            <div class="card__actions__confirmation accent-font card__actions__button" 
                [class.card__actions__button--hidden]="!emailSent">

                <md-icon class="card__actions__confirmation__icon">done</md-icon>
                <span class="card__actions__confirmation__title">EMAIL SENT</span>
            </div>
        </md-card-actions>
    </form>
</md-card>
