@import '~@lvl/front-end/theming';
@import '../../styles/_card.component.scss';

@include card-component;

.card__actions {
    min-height: 36px;
    position: relative;

    &__button {
        opacity: 1;
        position: absolute;
        right: 0;
        top: 8px;
        transition: all $swift-ease-in-duration $mat-fast-out-slow-in-timing-function $swift-ease-in-duration;

        &--hidden {
            opacity: 0;
            transition: all $swift-ease-in-duration $mat-fast-out-slow-in-timing-function;
            pointer-events: none;
        }
    }

    &__confirmation {
        font-size: 14px;
        font-weight: 500;
        line-height: 36px;

        &__icon {
            margin-top: -4px;
            vertical-align: middle;
        }

        &__title {
            vertical-align: middle;
        }
    }

    &--request-reset {
        z-index: 9;
    }
}
